@model PropertyTypeModel
@{
    ViewData["Title"] = "PropertyTypeRegister";
}

<div class="card">
    <div class="card-header">
        <h1>Registration for owners</h1>
    </div>
    <div class="card-body">
        <form id="ownerForm" asp-action="SavePropertyType" asp-controller="PropertyType" method="post">
            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <input asp-for="Description" class="form-control" id="Description" aria-describedby="emailHelp">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            
            <button type="submit">Save</button>
        </form>
    </div>
</div>

<!-- Reference of JavaScript s -->
<script src="~/js/PropertyType.js"></script>
